[Unit]
Description=Temperature Monitor Service
After=network.target
DefaultDependencies=no
Before=reboot.target shutdown.target halt.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/allsky/temperatureMonitor.py
Restart=always
User=pi
Group=pi
KillMode=mixed
WorkingDirectory=/home/pi/allsky
KillSignal=SIGTERM  # Specify the signal sent by systemctl stop (default is SIGTERM)
TimeoutStopSec=30   # Specify the maximum time for the service to stop

[Install]
WantedBy=multi-user.target reboot.target shutdown.target halt.target
